@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amaranth Regular'), local('Amaranth-Regular'), url(../fonts/KtkuALODe433f0j1zMnFHdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
}

ul, ol, li{
	list-style: none;
}
/*-------------------------------------------BARRA NAVEGACION-----------------------------------------*/
nav{
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	border-bottom: 1px solid #555555;
	background: rgba(75,114,232,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,114,232,1)), color-stop(100%, rgba(32,124,229,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: radial-gradient(ellipse at center, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b72e8', endColorstr='#207ce5', GradientType=1 );
}

.menu{
	padding-left: 0px;
	margin: 0px;
	width: 100%;
	margin-top: 0;
	display: table;
	table-layout: fixed;
	float: left;
	transition: all .5s ease;
}

.menu li {
	display: table-cell;
	overflow: hidden;
	width: 100%;
	border-right: 1px solid #5c5c5c;
	border-left: 1px solid rgba(255,255,255,.2);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.menu li:first-child {
	border-left: none;
}

.menu li:first-child:hover{
	border-left: none;
}

.menu li a {
	display: block;
	font-size: 22px;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.menu li:hover{
	background: rgba(0,0,0,.3);
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: none;
}

.menu li:active{
	background: rgba(0,0,0,.3);
	box-shadow: inset 0px 3px 2px rgba(0,0,0,1);
}
.search_bar {
	width:  15%;
	float: left;
	margin-top: 6px;
	padding: 7px 10px;
	box-sizing: border-box;
	position: relative;
	transition: all .5s ease;
}

.search_bar input{
	width: 100%;
	height: auto;
	border-radius: 50px;
	border: none;
	margin-top: 1.9px;
	border-bottom: 1px solid #858585;
	padding: 0px 10px 0px 25px;
	box-sizing: border-box;
	height: 22px;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.7);
	background: rgba(75,114,232,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,114,232,1)), color-stop(100%, rgba(32,124,229,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: radial-gradient(ellipse at center, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b72e8', endColorstr='#207ce5', GradientType=1 );
}

.search_bar input:focus{
	background: #fff;
	box-shadow: none;
}

.ico-home{
	display: block;
	position: relative;
	top: 2px;
}

.icon-magnifying-glass{
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: #fff;
	text-decoration: none;
}

/*-------------------------------SLIDERSHOW---------------------------*/
.theme-mi-slider .nivoSlider{
	position:relative;
	-webkit-box-shadow: 0px 10px 31px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 10px 31px 0px rgba(255,255,255,1);
	box-shadow: 0px 10px 31px 0px rgba(255,255,255,1);
}

.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}

.nivo-controlNav{
	display: flex;
	justify-content: center;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #545454;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #1B1B1B;
}

.theme-mi-slider .active{
	background: #1B1B1B;
}

.nivo-directionNav a{
	display: block;
	width: 45px;
	height: 45px;
}

.nivo-directionNav .nivo-prevNav{
	background-image: url(../iconos/chevron-with-circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left: 6px;
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../iconos/chevron-with-circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right: 6px;
}

.nivo-html-caption{
	position: relative;
}


/*----------------------------- CUERPO -------------------------------*/
body
{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #060c21;
}
.contenedor
{

	position: relative;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: 5px 5%;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 15px;
	padding: 45px 0px;
    box-sizing: border-box;
    padding-left: 18%;
}
.contenedor .caja
{
	position: relative;
	width: 275px;
	height: 275px;
	overflow: hidden;
	margin: 5px;
	border-radius: 15px;
	transition: 0.5s;
}
.contenedor .caja:hover
{
	z-index: 1;
	transform: scale(1.15);
	box-shadow: 0 25px 40px rgba(0, 0, 0, .5)
}

.contenedor .caja .imgcaja
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	width: 100%;
}
.contenedor .caja .imgcaja:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(180deg, #f00, #000);
	mix-blend-mode: multiply;
	opacity: 0;
	transition: 0.5s;
}
.imgcaja:hover
{
	background: linear-gradient(180deg, #f00, #000);
	mix-blend-mode: multiply;
	opacity: 0.1;
}
.contenedor .caja:hover .imgcaja:before
{
	opacity: 1;
	
}
.contenedor .caja .imgcaja img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	width: 100%;
	object-fit: cover;
}
.contenedor .caja .contenido
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	padding: 20px;
	align-items: flex-end;	
}
.contenedor .caja .contenido h2
{
	color: #000;
	transition: 0.5s;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 20px;
	transform: translateY(200px);
}
.contenedor .caja:hover .contenido h2
{
	transform: translateY(0);
	transition-delay: 0.4s;
}
.contenedor .caja .contenido p
{
	transform: translateY(200px);
	transition: 0.5s;
	font-size: 14px;
}

.contenedor .caja:hover .contenido p
{
	transform: translateY(0);
	transition-delay: 0.5s;
}


/* -------------------------PIE---------------------- */

.pie
{
	position: relative;
	width: 100%;
	height: 50px;
	padding-top: 5px;
	margin: 15px 0px 0px 0px; 
	background: rgb(197,222,234);
	background: -moz-linear-gradient(top,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	background: linear-gradient(to bottom,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
}

.pie li a
{
	text-decoration: none;
	margin: 0px 15px;
	display: table;
	table-layout: fixed;
	float: left;
	color: #000;
}
.pie ul
{
	margin: 15px;
}