@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amaranth Regular'), local('Amaranth-Regular'), url(../fonts/KtkuALODe433f0j1zMnFHdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Amaranth', sans-serif;
}
/*------------------------------ CUADRO PROVEEDOR ------------------------------------*/
.cuadro{
    width: 45%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px 30px 30px;
    border-radius: 15px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.cuadro p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.cuadro input{
    width: 80%;
    margin: 0px 10% 20px 10%;
}
.cuadro input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
}
.cuadro input[name="inicio"]
{
    width: 40%;
    margin: 15px 30%;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.cuadro input[name="inicio"]:hover
{
    cursor: pointer;
    background: #23B5EA;
    color: #000;
}

.cuadro a{
    width: 100%;
    text-align: center;
    margin-left: 25%;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.cuadro a:hover
{
    color: #23B5EA;
}
.dos_columnas {
    align-items: center;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
    -webkit-column-rule: 1px solid rgba(28,110,164,0.44);
    -moz-column-rule: 1px solid rgba(28,110,164,0.44);
    column-rule: 1px solid rgba(28,110,164,0.44);
}
.una_columna {
    align-items: center;
    margin: 25px 15%;
    align-items: center;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 70%

}
/*---------------------------------------- ANIMACION FONDO ------------------------------------------*/
section{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	animation: bgColor 20s linear infinite
}
.bgCuadro{
	width: 100%;
	height: 100%;
}
.bgCuadro span{
	position: absolute;
	width: 80px;
	height: 80px;
    border-radius: 15px;
	background: #fff;
}
.bgCuadro span:nth-child(1){
	top: 50%;
	left: 20%;
	animation: animacion 10s linear infinite;
}
.bgCuadro span:nth-child(3n+1){
	background: transparent;
	border: 5px solid #fff;

}
.bgCuadro span:nth-child(2){
	top: 80%;
	left: 40%;
	animation: animacion 12s linear infinite;
}
.bgCuadro span:nth-child(3){
	top: 10%;
	left: 65%;
	animation: animacion 15s linear infinite;
}
.bgCuadro span:nth-child(4){
	top: 50%;
	left: 70%;
	animation: animacion 6s linear infinite;
}
.bgCuadro span:nth-child(5){
	top: 10%;
	left: 30%;
	animation: animacion 9s linear infinite;
}
.bgCuadro span:nth-child(6){
	top: 90%;
	left: 95%;
	animation: animacion 8s linear infinite;
}
.bgCuadro span:nth-child(7){
	top: 80%;
	left: 5%;
	animation: animacion 5s linear infinite;
}
.bgCuadro span:nth-child(8){
	top: 35%;
	left: 50%;
	animation: animacion 14s linear infinite;
}
.bgCuadro span:nth-child(9){
	top: 5%;
	left: 5%;
	animation: animacion 11s linear infinite;
}
.bgCuadro span:nth-child(10){
	top: 25%;
	left: 90%;
	animation: animacion 10s linear infinite;
}
@keyframes animacion{
	0%{
		transform: scale(0) translateY(0) rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: scale(1) translateY(-100px) rotate(360deg);
		opacity: 0;
	}
}
@keyframes bgColor{
	0%{
		background: #001AB2;
	}
	25%{
		background: #00558E;
	}
	50%{
		background: #00A58F;
	}
	75%{
		background: #00A1C9;
	}
	90%{
		background: #0058CC;
	}
	100%{
		background: #001AB2;
	}
}