@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amaranth Regular'), local('Amaranth-Regular'), url(../fonts/KtkuALODe433f0j1zMnFHdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
}

ul, ol, li{
	list-style: none;
}

body{
	margin: 0px;
	padding: 0px;
	background: #060c21;
}
/*-------------------------------------------BARRA NAVEGACION-----------------------------------------*/
nav{
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	border-bottom: 1px solid #555555;
	background: rgba(75,114,232,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,114,232,1)), color-stop(100%, rgba(32,124,229,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: radial-gradient(ellipse at center, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b72e8', endColorstr='#207ce5', GradientType=1 );
}

.menu{
	padding-left: 0px;
	margin: 0px;
	width: 100%;
	display: table;
	table-layout: fixed;
	float: left;
	transition: all .5s ease;
}

.menu li {
	display: table-cell;
	overflow: hidden;
	width: 100%;
	border-right: 1px solid #5c5c5c;
	border-left: 1px solid rgba(255,255,255,.2);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.menu li:first-child {
	border-left: none;
}

.menu li:first-child:hover{
	border-left: none;
}

.menu li a {
	display: block;
	font-size: 20px;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.menu li:hover{
	background: rgba(0,0,0,.3);
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: none;
}

.menu li:active{
	background: rgba(0,0,0,.3);
	box-shadow: inset 0px 3px 2px rgba(0,0,0,1);
}

.search_bar {
	width:  15%;
	float: left;
	margin-top: 6px;
	padding: 7px 10px;
	box-sizing: border-box;
	position: relative;
	transition: all .5s ease;
}

.search_bar input{
	width: 100%;
	height: auto;
	border-radius: 50px;
	border: none;
	margin-top: 1.9px;
	border-bottom: 1px solid #858585;
	padding: 0px 10px 0px 25px;
	box-sizing: border-box;
	height: 22px;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.7);
	background: rgba(75,114,232,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,114,232,1)), color-stop(100%, rgba(32,124,229,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	background: radial-gradient(ellipse at center, rgba(75,114,232,1) 0%, rgba(32,124,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b72e8', endColorstr='#207ce5', GradientType=1 );
}

.search_bar input:focus{
	background: #fff;
	box-shadow: none;
}

.ico-home{
	display: block;
	position: relative;
	top: 2px;
}

.icon-magnifying-glass{
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: #fff;
	text-decoration: none;
}

/*----------------------------------SLIDERSHOW-----------------------------*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.theme-mi-slider .nivoSlider{
	position:relative;
	-webkit-box-shadow: 0px 10px 31px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 10px 31px 0px rgba(255,255,255,1);
	box-shadow: 0px 10px 31px 0px rgba(255,255,255,1);
}

.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}

.nivo-controlNav{
	display: flex;
	justify-content: center;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #545454;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #1B1B1B;
}

.theme-mi-slider .active{
	background: #1B1B1B;
}

.nivo-directionNav a{
	display: block;
	width: 45px;
	height: 45px;
}

.nivo-directionNav .nivo-prevNav{
	background-image: url(../iconos/chevron-with-circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left: 6px;
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../iconos/chevron-with-circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right: 6px;
}

.nivo-html-caption{
	position: relative;
}


/*------------------------------ BOTONES ---------------------------------------*/
.box{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
	margin: 40px 20px 20px -25px;
	background: rgba(255, 255, 255, 0);
	border-radius: 15px;
}
.cuerpo1{
	width: 90%;
	display: flex;
	justify-content: center;
	height: auto;
	margin: 0px auto;
	padding: 20px 0px 0px 2%;
	text-align: center;
}

.cuerpo1 h1{
	color: #fff;
	font-size: 40px;
	font-family: Arial;
	text-shadow: -0.5px -0.5px 23px rgba(255, 255, 255, 1);
}

.imgn{
	width: 125px;
	height: 125px;
	border-radius: 150px;
}

.box a{
	background: #1200ff36;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 250px;
	padding-top: 30px;
	height: 80px;
	color: #1670f0;
	margin: 15px 0.5%;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.box a:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255, 255, 255, 0.05)
}
.box a:hover{
	font-size: 20px;
	background: rgba(255, 255, 255, 0.05);
}

.box a span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #0c002b, #1779ff);
	animation: animate1 linear 2s infinite;
}
@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

.box a span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, #0c002b, #1779ff);
	animation: animate2 linear 2s infinite;
	animation-delay: 1s;
}
@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}
.box a span:nth-child(3){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #0c002b, #1779ff);
	animation: animate3 linear 2s infinite;
}
@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}
.box a span:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, #0c002b, #1779ff);
	animation: animate4 linear 2s infinite;
		animation-delay: 1s;
}
@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}
/*-------------------------------------CUERPO----------------------------------------------*/

.cuerpo{
	width: 100%;
	height: auto;
	margin:  0px 0px;
	padding: 0px;
	display: flex;
    justify-content: center;
}
.cuadro{
    width: 80%;
    height: auto;
    margin: 15px 15px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    box-sizing: border-box;
    padding: 40px 30px 40px 30px;
    border-radius: 15px;
    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
}
.cuadro h2{
	margin-top: 10px;
	font-size: 30px;
	font-family: Arial;
	text-align: center;
}
/*---------------------------------------- TABLA ----------------------------------------*/
.tbla{
	margin: 40px 5%;
	height: 400px;
	width: 90%;
	overflow-y: scroll;
	box-shadow: 0 10px 100px rgba(255, 255, 255, 0.3);
	background: rgb(44,83,158);
	background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );
	color: #fff;
}

table{
	width: 100%
}

table, td{
	border: 1px solid #fff;
	border-collapse: collapse;
	text-align: left;
}
td{
	padding: 5px;
}


th{
	border: 1px solid #060c21;
	width: 100px;
	top: 0px;
	position: sticky;
	padding: 5px 25px;
	text-align: center;
	background: rgb(148,180,222);
	background: -moz-linear-gradient(top,  rgba(148,180,222,1) 0%, rgba(117,157,209,1) 41%, rgba(73,124,191,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(148,180,222,1) 0%,rgba(117,157,209,1) 41%,rgba(73,124,191,1) 100%);
	background: linear-gradient(to bottom,  rgba(148,180,222,1) 0%,rgba(117,157,209,1) 41%,rgba(73,124,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94b4de', endColorstr='#497cbf',GradientType=0 );
	color: #fff;
}

.tbla tr th:nth-child(2){
	width: 60px;
	text-align: center;
	background: rgb(148,200,222);
	background: -moz-linear-gradient(top,  rgba(148,200,222,1) 0%, rgba(117,181,209,1) 41%, rgba(73,156,191,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(148,200,222,1) 0%,rgba(117,181,209,1) 41%,rgba(73,156,191,1) 100%);
	background: linear-gradient(to bottom,  rgba(148,200,222,1) 0%,rgba(117,181,209,1) 41%,rgba(73,156,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c8de', endColorstr='#499cbf',GradientType=0 );
}
.tbla tr td:nth-child(2){
	background: #00bcd4;
	text-align: center;
	color: #fff;
}
.btn-success{
	background: #00D8FF;
	border-radius: 15px;
	border: none;
	padding: 5px 20px;
	color: #000;
}
.tbla tr td:nth-child(1){
	width: 60px;
	padding: 1px auto;
	overflow: hidden;
}

.btn-success:hover{
	background: #009DFF;
	color: #fff;
	cursor: pointer;
}
.icon-circle-with-plus{
	text-decoration: none;
	position: relative;
	margin-left: 80%;
	margin-top: 20px;
	padding: 1% 2%;
	border-radius: 25px;
	border: none;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	box-shadow: 0 10px 100px rgba(255, 255, 255, 0.3);
}
.icon-circle-with-plus:hover{
	cursor: pointer;
	background: #23B5EA;
	color: #000;
	box-shadow: 0 10px 100px rgba(206, 56, 95, 0.5);
}

/* ---------------------------------PIE----------------------------- */
.pie{
	position: relative;
	width: 100%;
	padding-top: 1px;
	height: 50px;
	background: rgb(197,222,234);
	background: -moz-linear-gradient(top,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
	background: linear-gradient(to bottom,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
}

.pie li a{
	text-decoration: none;
	margin: 0px 15px;
	font-size: 20px;
	display: table;
	table-layout: fixed;
	float: left;
	color: #000;
}
.pie ul{
	margin: 15px;
}
